/* Reset CSS */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

::selection{
	color: $color-white;
	background: $color-secondary;
}

html,
body{
	scroll-behavior: smooth;
}

html{
	font-size: 16px;
	text-size-adjust: none;
}

body {
	color: $color-black;
	font-weight: 400;
	font-family: $font-primary;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: unset;
}

button,
button:hover,
button:focus,
button:active {
	outline: none;
}

input:-webkit-autofill{
	-webkit-text-fill-color: unset;
	transition: background-color 5000s;
}

ul,
ol {
	list-style: none;
}

img{
	object-fit: cover;
}

.user-select-none{
	pointer-events: none;
}

.list-inline{
	font-size: 0;
	&-item{
		font-size: 1rem;
	}
}

/* Scale Animation Style */
.scale-animation{
	transform: scale(1);
	@include hover{
		animation: pop-out-in 200ms $scale-animation-easing forwards;
	}
}

.scale-animation--trigger{

	&:active{
		.scale-animation{
			animation: pop-in-out 200ms $scale-animation-easing forwards;
		}
	}

	@include hover{
		&:hover,
		&:focus-visible
		{
			.scale-animation{
				animation: pop-in-out 200ms $scale-animation-easing forwards;
			}
		}
	}
}

@keyframes pop-out-in {
	0%, 100%{
		transform: scale(1);
	}
	50%{
		transform: scale(0);
	}
}

@keyframes pop-in-out {
	0%, 100%{
		transform: scale(1);
	}
	50%{
		transform: scale(0);
	}
}

/* Custom List Style */
.custom-list{
	&__item{
		display: flex;

		&:not(:last-child){
			margin-bottom: toRem(35);
		}

		@extend .scale-animation--trigger;

		&__marker{
			flex-shrink: 0;
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $color-secondary;
			margin-top: toRem(5);
			margin-right: toRem(15);

			@extend .scale-animation;
		}

		&__text{
			font-size: toRem(14);
			@include min-tablet{
				font-size: toRem(16);
			}
		}
	}
}

.social-icon-list{
	.list-inline-item{
		margin: toRem(8);
		line-height: 1;
	}
	&__link{
		font-size: toRem(30);
		@extend %transition;

		&:hover,
		&:focus-visible
		{
			color: $color-primary;
		}
	}
}

/* Custom Container Style */
.container{
	@include min-desktop-xl{
		max-width: 1310px;
	}
}

/* Common Slick Style */
.slick{
	&__arrows{
		top: 50%;
		position: absolute;
		z-index: 3;
		width: toRem(40);
		height: toRem(40);
		font-size: toRem(20);
		text-align: center;
		cursor: pointer;
		@extend %transition;
	}
	&-dots{
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		line-height: 0;
		li{
			&:not(:last-child){
				margin-right: 1rem;
			}
			button{
				font-size: 0;
				width: toRem(8);
				height: toRem(8);
				background: $color-secondary;
				border: 1px solid $color-secondary;
				border-radius: toRem(8);
				@extend %transition;
			}
			&.slick-active{
				button{
					width: toRem(16);
					background: transparent;
				}
			}
		}
	}
}

/* Preloader Section Style */
.preloader{
	top: 0;
	left: 0;
	z-index: 9999;
}

/* Common Section Gap Style */
.section-gap{
	padding: toRem(50) 0;
	&--fix{
		padding-bottom: calc(toRem(50) - 30px);
	}
}

/* Common Section Heading Style */
.section-header{
	margin-bottom: toRem(50);
	@include mobile{
		margin-bottom: toRem(30);
	}
	&__title{
		font-size: toRem(40);
		font-weight: 800;
		font-family: $font-primary;
		@include tablet{
			font-size: toRem(25);
		}
		@include desktop{
			text-align: center;
		}
	}
}

/* Match Height Style */
.match-height > [class*="col"]{
	display: flex;
}

.match-height [class*="col"] > *{
	flex-grow: 1;
}

.button-group-spacing > *{
	margin: 3px;
}

.scroll-off{
	@include desktop{
		overflow: hidden;
	}
}

.offcanvas{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	background-color: rgba($color-black, $alpha: 0.3);
	z-index: 99;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: all .3s linear;

	&.offcanvas--show{
		@include desktop{
			opacity: 1;
			visibility: visible;
		}
	}
}

/* Common Indicator Nav Style */
.indicator-nav{
	position: relative;
	&__line{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 3px;
		border-radius: 3px;
		transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
		pointer-events: none;
		user-select: none;
		overflow: hidden;
		&::before{
			content: "";
			position: absolute;
			top: 0;
			// left: 50%;
			// transform: translateX(-50%);
			// width: 20%;
			height: 100%;
			background-color: $color-primary;
			border-radius: inherit;
		}
	}
}

/* Common Section Style */
.section{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__title{
		font-size: toRem(24);
		font-weight: 700;
		margin-bottom: toRem(40);
		@include min-tablet{
			font-size: toRem(30);
		}
	}
	&__text{
		font-size: toRem(15);
		font-weight: 300;
		line-height: 1.7;
	}
}

/* INFORMATIONS Section Style */
.info{
	&-slider{
		.slick__arrows{
			color: $color-white;
			background-color: rgba($color-black, $alpha: 0.5);
			border-radius: 50%;
			@include desktop-xl{
				transform: translateY(-50%);
			}

			&--left{
				left: 0;
				@include min-desktop-xl{
					transform: translate(-50%, -50%);
				}
			}
			&--right{
				right: 0;
				@include min-desktop-xl{
					transform: translate(50%, -50%);
				}
			}

			&:hover,
			&:focus-visible{
				background-color: $color-black;
			}
		}
	}
	&-slide{
		margin-bottom: toRem(30);
		&__card{
			font-size: toRem(17);
			font-weight: 400;
			line-height: toRem(30);
			padding: 20px 15px;
			background-color: #f4f9f9;
			border: 1px solid $color-black;
			border-radius: toRem(10);
	
			&__title{
				font-size: inherit;
				font-weight: inherit;
			}
		}
	}
}

/* Figures Section Style */
.figures{
	background-color: #f3f9fe;

	&__title{
		font-size: toRem(18);
		font-weight: 800;
		margin-bottom: toRem(70);
		
		@include min-tablet{
			font-size: toRem(25);
		}
	}

	&__card{
		text-align: center;
		margin-bottom: toRem(30);

		&__image{
			max-width: 100%;
			max-height: toRem(60);
			margin-bottom: toRem(28);
		}

		&__title{
			font-size: toRem(28);
			font-weight: 700;
			margin-bottom: toRem(20);
		}

		&__text{
			font-size: toRem(20);
			font-weight: 400;
			margin-bottom: 0;
		}
	}
}

.certification{
	background-color: #f1f5f6;

	&__card{
		background-color: $color-white;
		padding: toRem(30) toRem(15);
		border: 1px solid #d1d1d1;
		border-radius: 10px;
		
		@include min-tablet{
			padding: toRem(50) toRem(40);
		}

		&__title{
			color: $color-primary;
			font-size: toRem(26);
			font-weight: 700;
			text-align: center;
			margin-bottom: toRem(45);
		}

		&__text{
			font-size: toRem(16);
			line-height: 1.7;
			font-weight: 300;
			margin-bottom: 0;
		}

		&__image{
			margin-top: toRem(50);
			max-width: 100%;
			max-height: toRem(90);
		}
	}
}

.sub-banner{
	text-align: center;
	background-position: center;
	background-size: cover;

	&__title{
		font-size: toRem(28);
		font-weight: 700;
		margin-bottom: 0;
		padding-top: toRem(10);
		padding-bottom: toRem(280);
		
		@include min-tablet{
			font-size: toRem(40);
		}

		@include min-desktop{
			font-size: toRem(55);
		}
	}

	&__text{
		font-size: toRem(18);
		font-weight: 400;
		margin-bottom: 5px;
	}
}

.filter-list{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	&__item{
		margin-left: toRem(15);
		margin-right: toRem(15);
	}

	&__link{
		background-color: transparent;
		border: 0;
		padding: toRem(10) 2px;
		text-transform: uppercase;
		transition: color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
		@include min-mobile{
			white-space: nowrap;
		}

		&.active,
		&:active
		{
			color: $color-primary;
		}

		@include hover{
			&:hover,
			&:focus-visible
			{
				color: $color-primary;
			}
		}

	}

	.indicator-nav__line::before{
		left: 0;
		width: 100%;

		@include tablet{
			opacity: 0;
		}
	}
}

.training{
	.filter-list{
		margin-bottom: toRem(50);
	}

	&__card{
		margin-bottom: toRem(40);

		&__head{
			position: relative;
			display: block;
			height: toRem(215);
			overflow: hidden;

			&__image,
			&__overlay
			{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: all linear .3s;
			}

			&__image{
				object-fit: cover;
			}

			&__overlay{
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				color: $color-white;
				font-size: toRem(13);
				font-weight: 600;
				letter-spacing: 2px;
				background-color: rgba($color: #000000, $alpha: 0.4);
				opacity: 0;
			}

			&:hover,
			&:focus
			{
				.training__card__head{
					&__image{
						transform: scale(1.1);
					}

					&__overlay{
						opacity: 1;
					}
				}
			}
		}

		&__body{
			padding-top: toRem(25);
		}

		&__title{
			font-size: toRem(18);
			font-weight: 600;
			margin-bottom: toRem(17);
			text-transform: uppercase;

			&__link{
				@extend %transition;

				&:hover,
				&:focus
				{
					color: $color-primary;
				}
			}
		}

		&__text{
			color: $color-gray;
			font-size: toRem(16);
			line-height: 1.7;
			margin-bottom: 0;
		}
	}
}

.blog-card{
	&-wrapper{
		> *:not(:last-child){
			margin-bottom: toRem(70);
		}
	}


	@include min-desktop{
		display: flex;
	}

	&__header{
		@include desktop{
			margin-bottom: toRem(25);
		}

		&__link{
			position: relative;
			display: block;
			width: 100%;
			overflow: hidden;

			&::after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($color-black, $alpha: 0.3);
				opacity: 0;
				@extend %transition;
			}

			&__image{
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				max-height: toRem(300);
				@extend %transition;
			}

			&:hover,
			&:focus
			{
				&::after{
					opacity: 1;
				}
				.blog-card__header__link__image{
					transform: scale(1.1);
				}
			}
		}

		&__meta{
			border-right: 1px solid lighten($color-gray, $amount: 50);
			margin: 5px 0;
			padding-right: toRem(20);
			text-align: right;
			display: block;

			@include desktop{
				display: none;
			}

			&__title{
				color: darken($color-gray--dark, $amount: 3);
				font-size: toRem(27);
				font-weight: 700;
				letter-spacing: 1px;
			}

			&__text{
				color: $color-gray;
				text-transform: uppercase;
				margin-bottom: 0;
			}
		}
	}
	&__body{
		&__title{
			font-size: toRem(25);
			font-weight: 700;
			margin-bottom: toRem(16);
			
			@include min-desktop-lg{
				font-size: toRem(28);
			}
			
			&__link{
				display: block;
				color: $color-gray--dark;
				@extend %transition;

				&:hover,
				&:focus
				{
					color: $color-secondary;
				}
			}

		}

		&__meta{
			display: inline-block;
			font-size: toRem(12);
			color: $color-secondary;
			@extend %transition;

			&__text{
				font-weight: 700;
				text-transform: uppercase;
				margin-left: toRem(7);
			}

			&:hover,
			&:focus
			{
				color: $color-primary;
			}
		}

		&__text{
			font-size: toRem(16);
			color: $color-gray;
			line-height: 1.7;
			margin-top: toRem(20);
			margin-bottom: toRem(20);

			@include tablet{
				font-size: toRem(14);
			}
		}
	}
}

.contact{
	&__sub-title{
		color: $color-gray--dark;
		font-weight: 600;
		line-height: 1.8;
		margin-bottom: toRem(50);
	}

	&__title{
		color: $color-gray--dark;
		font-size: toRem(28);
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: toRem(20);
	}

	&__text{
		color: $color-ass;
		margin-bottom: toRem(50);
	}

	&__card{
		color: $color-white;
		background-color: $color-secondary;
		padding: toRem(40);
		border-radius: toRem(10);
	}
}

.follow{
	.section__title{
		margin-bottom: toRem(20);
	}
}

.single-block{
	&__header{
		margin-bottom: toRem(40);

		&__image{
			width: 100%;
			max-height: toRem(380);
			object-fit: cover;
		}
	}

	&__body{
		margin-bottom: toRem(80);

		&__title{
			color: $color-gray--dark;
			font-size: toRem(26);
			font-weight: 800;
			line-height: 1.2;
			margin-bottom: toRem(16);
			
			@include min-tablet{
				font-size: toRem(31);
			}
		}

		&__meta{
			display: flex;
			flex-wrap: wrap;
			gap: toRem(20);

			&__item{
				color: $color-secondary;
				font-size: toRem(13);
				font-weight: 700;

				&__text{
					margin-left: toRem(8);
					letter-spacing: 0.5px;
					text-transform: uppercase;
				}

				&__link{
					color: currentColor;
					@extend %transition;

					&:hover,
					&:focus-visible
					{
						color: $color-primary;
					}
				}
			}
		}

		&__content{
			color: $color-gray;
			margin-top: toRem(30);
			
			*{
				color: currentColor;
				line-height: 1.7;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6
			{
				color: $color-gray--dark;
				line-height: 1.2;
				margin-top: toRem(15);
			}

			img{
				max-width: 100% !important;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}

	.social-icon-list{
		text-align: center;

		&__link{
			font-size: toRem(17);
		}
	}
}

.widget{
	margin-bottom: toRem(40);

	&__title{
		color: $color-gray--dark;
		font-size: toRem(14);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: toRem(18);
	}

	&__list{
		&__item{
			&__link{
				color: lighten($color-gray--dark, $amount: 5);
				display: block;
				font-size: toRem(14);
				line-height: toRem(20);
				padding-top: toRem(15);
				padding-bottom: toRem(15);
				padding-left: toRem(20);
				border-bottom: 1px solid lighten($color-gray, $amount: 50);
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='%23444' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
				background-size: toRem(12);
                background-position: left toRem(20);
				@extend %transition;

				&:hover,
				&:focus-visible
				{
					color: $color-primary;
				}
			}
		}
	}
}