/* Reset CSS */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

::selection{
	color: $color-white;
	background: $color-secondary;
}

html,
body{
	scroll-behavior: smooth;
}

html{
	font-size: 16px;
	text-size-adjust: none;
}

body {
	color: $color-black;
	font-weight: 400;
	font-family: $font-primary;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: unset;
}

button,
button:hover,
button:focus,
button:active {
	outline: none;
}

input:-webkit-autofill{
	-webkit-text-fill-color: unset;
	transition: background-color 5000s;
}

ul,
ol {
	list-style: none;
}

img{
	object-fit: cover;
}

.user-select-none{
	pointer-events: none;
}

.list-inline{
	font-size: 0;
	&-item{
		font-size: 1rem;
	}
}

/* Scale Animation Style */
.scale-animation{
	transform: scale(1);
	@include hover{
		animation: pop-out-in 200ms $scale-animation-easing forwards;
	}
}

.scale-animation--trigger{

	&:active{
		.scale-animation{
			animation: pop-in-out 200ms $scale-animation-easing forwards;
		}
	}

	@include hover{
		&:hover,
		&:focus-visible
		{
			.scale-animation{
				animation: pop-in-out 200ms $scale-animation-easing forwards;
			}
		}
	}
}

@keyframes pop-out-in {
	0%, 100%{
		transform: scale(1);
	}
	50%{
		transform: scale(0);
	}
}

@keyframes pop-in-out {
	0%, 100%{
		transform: scale(1);
	}
	50%{
		transform: scale(0);
	}
}

/* Custom List Style */
.custom-list{
	&__item{
		display: flex;

		&:not(:last-child){
			margin-bottom: toRem(35);
		}

		@extend .scale-animation--trigger;

		&__marker{
			flex-shrink: 0;
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $color-secondary;
			margin-top: toRem(5);
			margin-right: toRem(15);

			@extend .scale-animation;
		}

		&__text{
			font-size: toRem(14);
			@include min-tablet{
				font-size: toRem(16);
			}
		}
	}
}

/* Custom Container Style */
.container{
	@include min-desktop-xl{
		max-width: 1310px;
	}
}

/* Common Slick Style */
.slick{
	&__arrows{
		top: 0;
		position: absolute;
		z-index: 3;
		width: toRem(40);
		height: toRem(40);
		color: unset;
		background-color: unset;
		font-size: toRem(20);
		text-align: center;
		cursor: pointer;
		@extend %transition;
		&--left{
			right: 0;
		}
		&--right{
			right: 0;
		}
		&:hover,
		&:focus-visible{
			color: unset;
			background-color: unset;
		}
	}
	&-dots{
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		line-height: 0;
		li{
			&:not(:last-child){
				margin-right: 1rem;
			}
			button{
				font-size: 0;
				width: toRem(8);
				height: toRem(8);
				background: $color-primary;
				border: 1px solid $color-primary;
				border-radius: toRem(8);
				@extend %transition;
			}
			&.slick-active{
				button{
					width: toRem(16);
					background: transparent;
				}
			}
		}
	}
}

/* Preloader Section Style */
.preloader{
	top: 0;
	left: 0;
	z-index: 9999;
}

/* Common Section Gap Style */
.section-gap{
	padding: toRem(50) 0;
	&--fix{
		padding-bottom: calc(toRem(50) - 30px);
	}
}

/* Common Section Heading Style */
.section-header{
	margin-bottom: toRem(50);
	@include mobile{
		margin-bottom: toRem(30);
	}
	&__title{
		font-size: toRem(40);
		font-weight: 800;
		font-family: $font-primary;
		@include tablet{
			font-size: toRem(25);
		}
		@include desktop{
			text-align: center;
		}
	}
}

/* Match Height Style */
.match-height > [class*="col"]{
	display: flex;
}

.match-height [class*="col"] > *{
	flex-grow: 1;
}

.info-slide{
	margin-bottom: toRem(30);
	&__card{
		font-size: toRem(17);
		font-weight: 400;
		line-height: toRem(30);
		padding: 20px 15px;
		background-color: #f4f9f9;
		border: 1px solid $color-black;
		border-radius: toRem(10);

		&__title{
			font-size: inherit;
			font-weight: inherit;
		}
	}
}



// .section{
// 	&__image
// }