 // SCSS Variable's
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

$color-gray--dark:#383838;
$color-gray:#5e5e5e;

$color-ass:#455a64;

$color-black:#000000;
$color-white:#ffffff;

$font-primary: 'Poppins', sans-serif;

$scale-animation-easing: ease-in-out;


/* CSS Variable's */
:root{
    --color-primary: #ff2437;
    --color-secondary: #26377D;
}