.form{
    &-control{
        color: $color-gray;
        font-size: toRem(14);
        min-height: toRem(51);
        padding-left: toRem(20);
        padding-right: toRem(20);
        box-shadow: none !important;
        text-shadow: none !important;
        border-color: lighten($color-gray, $amount: 40);

        &::placeholder{
            color: lighten($color-gray, $amount: 40);
        }

        &:focus-within
        {
            border-color: $color-secondary;
        }
    }
}

.input-group{
    .form-control{
        border-right: 0;
    }
    &-append{
        border: 1px solid lighten($color-gray, $amount: 40);
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        transition: border-color .15s ease-in-out;

        .btn{
            color: $color-gray--dark;
            font-size: toRem(15);
            border: 0;
            box-shadow: none !important;
            @extend %transition;

            &:hover,
            &:focus-within
            {
                color: $color-primary;
            }
        }
    }

    &:focus-within{
        .form-control,
        .input-group-append
        {
            border-color: $color-secondary;
        }
    }
}